// flex布局复用
@mixin flex($hov:space-between,$col:center) {
    display: flex;
    align-items: $col;
    justify-content: $hov;
}

@mixin flex-col($hov:center,$row:center) {
    display: flex;
    flex-direction: column;
    align-items: $row;
    justify-content: $hov;
}

@mixin  bgImg($w:0,$h:0,$url:'',$size:contain) {
    display: inline-block;
    width: $w;
    height: $h;
    background:url($url) no-repeat center;
    background-size: $size;
}

@mixin position($pos:absolute,$top:0,$left:0,$w:100%,$h:100%) {
    position: $pos;
    top:$top;
    left: $left;
    width: $w;
    height: $h;
}

@mixin  positionImg($pos:absolute,$top:0,$right:0,$w:0,$h:0,$url:'') {
    position: $pos;
    top: $top;
    right: $right;
    width: $w;
    height: $h;
    background:url($url) no-repeat center;
    background-size: contain;

}
